[Unit]
Description="Data Science Consul Server"
Requires=network-online.target
After=network-online.target

[Service]
WorkingDirectory={{ consul_config_dir }}
User=root
ExecStart={{ consul_install_dir }}/consul agent -config-dir={{ consul_config_dir }} -ui
ExecReload={{ consul_install_dir }}/consul reload
ExecStop={{ consul_install_dir }}/consul leave
KillMode=process
Restart=on-failure
StartLimitInterval=0
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
