#!/usr/bin/env bash

export JAVA_HOME=
export JAVA_TOOL_OPTS=-Djava.net.preferIPv4Stack=true

export HADOOP_HOME={{ hadoop_home }}
export HADOOP_CONF_DIR=${HADOOP_CONF_DIR:-{{ hadoop_home }}/etc/hadoop/conf}
export SPARK_DIST_CLASSPATH=$({{ hadoop_home }}/bin/hadoop classpath)

SPARK_MASTER_IP={{ spark_master_ip }}
SPARK_MASTER_PORT={{ spark.master_port }}
SPARK_WORKER_PORT={{ spark.worker_work_port }}
SPARK_WORKER_WEBUI_PORT={{ spark.worker_ui_port }} ###Avoid conflict with kafka ports

{% for key, value in spark.env_extras.items() | sort %}
export {{ key }}="{{ value }}"
{% endfor %}


